.upload {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.upload-box {
    border: 2px dashed black;
    height: 400px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
}
.upload-box:hover {
    border-color: skyblue;
}
.upload-box input {
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    position: absolute;
}
.upload_infos {
    display: flex;
    justify-content: center;
    align-items: center;
}